machine:
  type: ${type}

  certSANs:
  - ${hostname}
%{ for _id, _interface in interfaces ~}
%{ if _interface.ipv4 != null }
  - ${_interface.ipv4}
%{ endif }
%{ endfor ~}
%{ if cluster_endpoint != "" }
  - ${cluster_endpoint}
%{ endif }

  network:
%{ if try(length(nameservers), 0) > 0 ~}
    nameservers:
%{ for ns in nameservers ~}
      - ${ns}
%{ endfor ~}
%{ endif ~}

    interfaces:
%{ for _id, _interface in interfaces ~}
    - interface: ${_id}
      dhcp: ${_interface.dhcp}
%{ if !_interface.dhcp && _interface.ipv4 != null }
      addresses:
        - ${_interface.ipv4}/32

      routes:
%{ for _network, _gateway in _interface.routes ~}
        - network: ${_network}
          gateway: ${_gateway}
%{ endfor ~}
%{ endif }
%{ endfor ~}

%{ if length(disks) > 0 }
  disks:
%{ for _dev, _mountpath in disks ~}
  - device: ${_dev}
    partitions:
    - mountpoint: ${_mountpath}
%{ endfor ~}
%{ endif }

  install:
    disk: ${install_disk}
    wipe: true
%{ if try(image, null) != null ~}
    image: ${image}
%{ endif }

  systemDiskEncryption:
    state:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
        - nodeID: {}
          slot: 1
    ephemeral:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
        - nodeID: {}
          slot: 1

%{ if length(time_servers) > 0 }
  time:
    disabled: false
    servers:
%{ for _server in time_servers ~}
    - ${_server}
%{ endfor ~}
%{ endif }

cluster:
  adminKubeconfig:
    certLifetime: ${kubeadm_cert_lifetime}
