machine:
  type: ${type}

  certSANs:
  - ${hostname}
%{ for _id, _interface in interfaces ~}
%{ if _interface.ipv4 != null }
  - ${_interface.ipv4}
%{ endif }
%{ endfor ~}
%{ if cluster_endpoint != "" }
  - ${cluster_endpoint}
%{ endif }

%{ if try(length(labels), 0) > 0 }
  nodeLabels:
%{ for _label, _value in labels ~}
    ${_label}: ${_value}
%{ endfor ~}
%{ endif ~}

  kubelet:
    extraArgs:
      rotate-server-certificates: true

%{ if try(length(trusted_subnets), 0) > 0 ~}
    nodeIP:
      validSubnets:
%{ for _subnet in trusted_subnets ~}
        - ${_subnet}
%{ endfor ~}
%{ endif ~}

%{ if try(length(taints), 0) > 0 ~}
    extraConfig:
      registerWithTaints:
%{ for _key, _taint in taints ~}
      - key: ${_key}
        effect: ${_taint.effect}
%{ if try(_taint.value, null) != null }
        value: ${_taint.value}
%{ endif ~}
%{ endfor ~}
%{ endif ~}

  network:
%{ if try(length(name_servers), 0) > 0 ~}
    nameservers:
%{ for ns in name_servers ~}
      - ${ns}
%{ endfor ~}
%{ endif ~}

    interfaces:
%{ for _id, _interface in interfaces ~}
    - interface: ${_id}
%{ if try(_interface.mtu, null) != null ~}
      mtu: ${_interface.mtu}
%{ endif }
%{ if try(virtual_ip, null) != null && type == "controlplane" }
      vip:
        ip: ${virtual_ip}
%{ endif }

      dhcp: ${_interface.dhcp}
%{ if !_interface.dhcp && _interface.ipv4 != null }
      addresses:
        - ${_interface.ipv4}

      routes:
%{ for _network, _gateway in _interface.routes ~}
        - network: ${_network}
          gateway: ${_gateway}
%{ endfor ~}
%{ endif }

%{ if try(_interface.bond, null) != null ~}
      bond:
        mode: ${_interface.bond.mode}
        miimon: ${_interface.bond.miimon}
%{ if try(_interface.bond.lacp_rate, null) != null ~}
        lacpRate: ${_interface.bond.lacp_rate}
%{ endif }
%{ if try(_interface.bond.xmit_hash_policy, null) != null ~}
        xmitHashPolicy: ${_interface.bond.xmit_hash_policy}
%{ endif }
        interfaces:
%{ for _bondinterface in _interface.bond.interfaces ~}
          - ${_bondinterface}
%{ endfor ~}
%{ endif ~}
%{ endfor ~}

%{ if length(disks) > 0 }
  disks:
%{ for _dev, _mountpath in disks ~}
  - device: ${_dev}
    partitions:
    - mountpoint: ${_mountpath}
%{ endfor ~}
%{ endif }

  install:
    disk: ${install_disk}
    wipe: true
%{ if try(image, null) != null ~}
    image: ${image}
%{ endif }

  systemDiskEncryption:
%{ if encryption.node_id }
    state:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
    ephemeral:
      provider: luks2
      keys:
        - nodeID: {}
          slot: 0
%{ endif }
%{ if try(encryption.passphrase, null) != null ~}
    state:
      provider: luks2
      keys:
        - static:
            passphrase: ${encryption.passphrase}
          slot: 0
    ephemeral:
      provider: luks2
      keys:
        - static:
            passphrase: ${encryption.passphrase}
          slot: 0
%{ endif }

%{ if length(time_servers) > 0 }
  time:
    disabled: false
    servers:
%{ for _server in time_servers ~}
    - ${_server}
%{ endfor ~}
%{ endif }

cluster:
  adminKubeconfig:
    certLifetime: ${kubeadm_cert_lifetime}
