---
name: MegaLinter

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  terraform:
    name: Terraform MegaLinter
    runs-on: ubuntu-24.04
    steps:
      - uses: pippiio/actions/lint/megalinter/terraform@v0
